*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
span{
    color: #3F2774;
}
.header{
    height: 647px;
    background: url(../img/BG/head.jpg) center center/cover no-repeat;
}
.header_container{
    padding-top: 60px;
    padding-bottom: 112px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav_loc-wrapper{
    display: flex;
}
.menu_header{
    margin-top: 18px;
    width: 690px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.text-menu_header{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: lowercase;
    color: #000000;
    text-decoration: none;
}
.text-menu_header:hover{
    text-decoration: underline;
}
.location_header{
    text-align: right;
    margin-right: 30px;
}
.city_header{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.street_header{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #525252;
}
.phone_header{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}
.contact_header{
    text-align: right;
}
.phone_header:hover{
    text-decoration: underline;
}
.hotline_header{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #525252;
}
h1{
    margin-top: 121px;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #393939;
}
.header_btn{
    margin-top: 120px;
    width: 593px;
    height: 82px;
    background: #422774;
    border-radius: 0px 100px 100px 0px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header_btn:hover{
    box-shadow: 2px 2px 10px #393939;
}
.header_btn:active{
    background-color: #525252;
}

.product_container{
    padding-top: 90px;
    padding-bottom: 37px;
}
.title_product{
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #000000;
}
.subtitle_product{
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
}
.items_product{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item_product{
    position: relative;
    width: 395px;
    height: 501px;
    margin-bottom: 90px;
}
.item_product_header{
    margin-top: 30px;
    font-weight: 900;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #393939;
}
.item_product_subheader{
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #606060;
}
.button_product{
    position: absolute;
    bottom: 0;
    width: 308px;
    height: 51px;
    background: #3F2774;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.button_product:hover{
    box-shadow: 2px 2px 10px #393939;
}
.button_product:active{
    background-color: #525252;
}

.implement_container{
    display: flex;
    background: #F8F8F8;
}
.implement_wrapper{
    margin-left: 60px;
}
.implement_title{
    margin-top: 85px;
    font-weight: 900;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #393939;
}
.implemen_subtitle{
    margin-top: 28px;
    margin-bottom: 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #606060;
}
.implement_link{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #3F2774;
    text-decoration: none;
}
.implement_link:hover{
    text-decoration: underline;
}

.feedback_container{
    position: relative;
    margin-top: 60px;
    background: #F8F8F8;
    padding: 60px 227px 87px 60px;
}
.feedback_title{
    font-weight: 900;
    font-size: 48px;
    line-height: 26px;
    text-transform: uppercase;
    color: #393939;
}
.feedback_title>span{
    z-index: 3;
}
.feedback_subtitle{
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #3F2774;
}
.feedback_wraper{
    max-width: 975px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.feedback_wraper>input{
    width: 305px;
    height: 69px;
    border: none;
    padding-left: 30px;
}
.feedback_btn{
    width: 305px;
    height: 69px;
    background: #3F2774;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 3;
}
.feedback_btn:hover{
    box-shadow: 2px 2px 10px #393939;
}
.feedback_btn:active{
    background-color: #525252;
}
.feedback_consent-wrapepr{
    display: flex;
    margin-top: 26px;
}
.feedback_checkbox{
    margin-top: 8px;
    width: 16px;
    height: 16px;
}
.feedback_consent{
    font-weight: 500;
    margin-left: 20px;
    font-size: 16px;
    line-height: 31px;
    color: #393939;
}
.feedback_consent>a{
    color: #3F2774;
    text-decoration: none;
}
.feedback_consent>a:hover{
    text-decoration: underline;
}
.feedback_img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.presentation_container{
    margin-top: 124px;
    display: flex;
}
.presentation_title{
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #393939;
}
.presentation_subtitle{
    max-width: 592.93px;
    margin-top: 30px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #393939;
}
.presentation_link{
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #3F2774;
    text-decoration: none;
}
.presentation_link:hover{
    text-decoration: underline;
}

footer{
    background: url(../img/BG/footer.jpg) center center/cover no-repeat;
    margin-top: 121px; 
}
.footer_container{
    display: flex;
    padding: 84px 6px 118px 41px;
}
.footer_container>ul{
    list-style-type: none;
}
.footer_container>ul>li>a{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: lowercase;
    color: #000000;
    text-decoration: none;
}
.footer_container>ul>li>a:hover{
    text-decoration: underline;
}
.footer_list-info{
    margin-top: 22px;
    margin-left: 188px;
}
.footer_list-service{
    margin-left: 79px;
}
.footer_location-wrapepr{
    margin-top: 24px;
    margin-left: 217px;
    text-align: right;
}
.contact_footer{
    margin-top: 27px;
}
.city_footer{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.street_footer{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #525252;
}
.phone_footer{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}
.phone_footer:hover{
    text-decoration: underline;
}
.hotline_footer{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #525252;
}


/*Навигация на все второстепенные сраницы*/
.for-all_header{
    height: 181px;
    background: #C4C4C4;
}
.for-all_header_container{
    padding-top: 60px;
}
.return{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: lowercase;
    color: #000000;
}

/* Страница Каталог */

#catalog-product{
    margin-top: -60px;
}

.return_catalog>a{
    text-decoration: none;
    color: #422774;
}
.return_catalog>a:hover{
    text-decoration: underline;
}
#catalog-implement{
    margin-top: -47px;
}
#catalog-footer{
    margin-top: 105px;
}

/*Наша продукция*/

#our-production-product{
    margin-top: -60px;
}
.video-product{
    display: block;
    margin: 0 auto;
    margin-top: 48px;
}
#our-production-footer{
    margin-top: 53px;
}

/*Партнёрам*/
#partner-product{
    margin-top: -60px;
}
#partner-footer{
    margin-top: 53px;
}
/*О компании*/
#about-company-product{
    margin-top: -60px;
}
#about-company-footer{
    margin-top: 53px;
}
/*Контакты*/
#contact-product{
    margin-top: -60px;
    display: flex;
    justify-content: space-between;
}
#contact-subtitle_product{
    max-width: 625px;
}
iframe{
    margin-top: 121px;
}
.contact-product-map{
    width: 619px;
}
#contact-footer{
    margin-top: 0;
}
/*Фотопечать на панелях*/
#photo-printing-main{
    margin-top: -60px;
}
.photo-printing-img{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.photo-printing-img>img{
    margin-bottom: 27px;
}
.photo-printing-feedback{
    margin-top: 18px;
}
#photo-printing-footer{
    margin-top: 45px;
}
/*Мдальное окно*/
.overlay{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.56);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #C4C4C4;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.modal_form>input{
    width: 305px;
    height: 69px;
    border: none;
    padding-left: 30px;
    margin-bottom: 20px;
}
.modal_btn{
    width: 305px;
    height: 69px;
    background: #3F2774;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 3;
}
.modal_btn:hover{
    box-shadow: 2px 2px 10px #393939;
}
.modal_btn:active{
    background-color: #525252;
}
.modal_form{
    margin-top: 20px;
}
.modal_close{
    position: absolute;
    top: -27px;
    right: -23px;
    font-size: 50px;
    line-height: 40px;
    cursor: pointer;
    color: #3F2774;
}

/*Адаптив*/
@media(max-width: 1279px){
    .container{
        width: 1140px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav_loc-wrapper{
        display: block;
    }
    .contact_header{
        margin-right: 20px;
    }
    .location_header{
        margin-right: 20px;
    }
    .item_product{
        width: 365px;
    }
    .item_product>img{
        width: 100%;
    }
    .footer_list-info{
        margin-top: 30px;
        margin-left: 160px;
    }
    .footer_location-wrapepr{
        margin-right: 20px;
        margin-left: 205px;
    }
    .video-product{
        width: 100%;
    }
    .photo-printing-img>img{
        width: 270px;
    }
}

@media(max-width: 1139px){
    .container{
        width: 992px;
    }
    .contact_header{
        margin-right: 0px;
    }
    .location_header{
        margin-right: 0px;
    }
    .menu_header{
        width: 630px;
    }
    .text-menu_header{
        font-size: 16px;
    }
    .city_header{
        font-size: 18px;
    }
    .street_header{
        font-size: 13px;
    }
    .phone_header{
        font-size: 18px;
    }
    .hotline_header{
        font-size: 13px;
    }
    .title_header{
        font-size: 35px;
        line-height: 45px;
    }
    .item_product{
        width: 317px;
    }
    .feedback_img{
        display: none;
    }
    .presentation_container>img{
        max-width: 500px;
    }
    .footer_list-info{
        margin-left: 70px;
    }
    .footer_location-wrapepr{
        margin-left: 60px;
    }
    .photo-printing-img>img{
        width: 230px;
    }
    .feedback_container{
        max-width: 972px;
    }
    .feedback_wraper{
        max-width: 965px;
    }
}

@media(max-width: 991px){
    .container{
        width: 768px;
    }
    .menu_header{
        width: 475px;
    }
    .text-menu_header{
        font-size: 13px;
    }
    .city_header{
        font-size: 15px;
    }
    .street_header{
        font-size: 10px;
    }
    .phone_header{
        font-size: 15px;
    }
    .hotline_header{
        font-size: 10px;
    }
    .title_header{
        font-size: 27px;
        line-height: 37px;
    }
    .header_btn{
        display: block;
        margin-left: 17%;
        width: 500px;
        height: 82px;
        border-radius: 100px 100px 100px 100px;
    }
    .title_product{
        font-size: 30px;
    }
    .button_product{
        width: 100%;
    }
    .item_product{
        width: 244px;
    }
    .item_product_header{
        font-size: 17px;
    }
    .implement_container{
        margin: 0;
        
    }
    .implement_container>img{
        width: 350px;
    }
    .implement_wrapper{
        margin-left: 35px;
    }
    .feedback_container{
        max-width: 748px;
    }
    .feedback_title{
        font-size: 38px;
    }
    .feedback_wraper>input{
        width: 230px;
        height: 55px;
    }
    .feedback_wraper>button{
        width: 230px;
        height: 55px;
    }
    .feedback_consent{
        font-size: 15px;
    }
    .presentation_container>img{
        max-width: 350px;
        height: 300px;
    }
    .presentation_title{
        font-size: 30px;
        line-height: 40px;
    }
    .presentation_subtitle{
        max-width: 396px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 24px;
    }
    .footer_list-info{
        margin-left: 50px;
    }
    .footer_list-service{
        margin-left: 50px;
    }
    .footer_location-wrapepr{
        margin-left: 50px;
        margin-right: 0;
    }
    .footer_container-li{
        font-size: 13px;
    }
    .footer_container>ul>li>a{
        font-size: 13px;
        line-height: 24px;
    }
    .city_footer{
        font-size: 15px;
    }
    .street_footer{
        font-size: 10px;
    }
    .phone_footer{
        font-size: 15px;
    }
    .hotline_footer{
        font-size: 10px;
    }
    .video-product{
        height: 400px;
    }
    #contact-product{
        flex-wrap: wrap;
    }
    .contact-product-map{
        width: 100%;
    }
    iframe{
        margin-top: 30px;
    }
    .photo-printing-img>img{
        width: 240px;
    }

    @media(max-width: 767px){
        .container{
            width: 576px;
        }
    }
}