*{
    font-family: Roboto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
.container{
    width: 1295px;
    margin: 0 auto;
}
.head-info{
    display: flex;
}
.head-logo{
    margin-top: 18px;
    margin-left: 36px;
}
.head-phone{
    width: 160px;
    margin-top: 36px;
    margin-left: 55px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.head-oursalons{
    width: 158px;
    display: flex;
    margin-top: 36px;
    margin-left: 39px;
}
.head-oursalons-link{
    margin-left: 15px;
}
.head-lowvision{
    margin-top: 25px;
    margin-left: 60px;
}
.head-lowvision-btn{
    display: flex;
    width: 270px;
    height: 40px;
    background: #00868A;
    align-items: center;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.head-lowvision-btn:hover{
    background: #4FBFA5;
}
.head-lowvision-btn>img{
    margin-left: 15px;
}
.head-lowvision-btn-text{
    margin-left: 10px;
}
.network{
    width: 320px;
    margin-left: 59px;
    margin-right: 28px;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}
nav{
    background: #4FBFA5;
    position: relative;
}
.nav-container{
    height: 87px;
    margin-top: 17px;
    display: flex;
}
.nav-list{
    width: 955px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 60px;
    align-items:center;
}
.nav-list-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.nav-list-link:hover{
    text-decoration: underline;
}
.nav-btn{
    margin-left: 95px;
    width: 175px;
    height: 40px;   
    margin-top: 24px;
    border:none;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.nav-btn:hover{
    background: #00868A;
    color: #FFFFFF;
}
.burger{
    display: none;
}
.services{
    background: #4FBFA5;
}
.services-wrapper{
    display: flex;
    justify-content: space-between;
}
.services-cosmetology{
    width: 416px;
    margin-top: 133px;
}
h2{
    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
    color: #FFFFFF;
}
.services-cosmetology-descr{
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}
.services-cosmetology-btn{
    margin-top: 40px;
    width: 163px;
    height: 50px;
    background: #00868A;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    border:none;
    cursor: pointer;
}
.services-cosmetology-btn:hover{
    background: #FFFFFF;
    color: #000000;
}
.services-carousel{
    width: 746px;
    height: 533px;
    position: relative;
}
.slick-prev{
    border: none;
    background: #4FBFA5;
    cursor: pointer;
    position: absolute;
    left: -155px;
    bottom: 0px;
}
.slick-next{
    border: none;
    background: #4FBFA5;
    cursor: pointer;
    position: absolute;
    left: -75px;
    bottom: 0px;
}
.services-list{
    display: flex;
}
.services-complex{
    width: 648px;
    height: 80px;
    background: #00868A;
}
.services-learn{
    width: 324px;
    height: 80px;
    background: #00868A;
}
.services-vip{
    width: 324px;
    height: 80px;
    background: #00868A;
}
.services-list>div{
    text-align: center;
    padding-top: 24px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 21px;
    line-height: 150%;
    cursor: pointer;
}
.services-list>div:hover{
    background: #4FBFA5;
}
.license{
    margin-top: 80px;
    margin-bottom: 80px;
}
.license-container{
    display: flex;
}
.license-newcourse{
    height: 550px;
    width: 526px;
    background: #00868A;
}
.license-newcourse-btn{
    margin-top: 35px;
    margin-left: 40px;
    width: 125px;
    height: 40px;
    background: #4FBFA5;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border:none;
    cursor: pointer;
}
.license-newcourse-btn:hover{
    box-shadow: 2px 2px 5px #4FBFA5;
}
.license-newcourse-title{
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
}
.license-newcourse-link{
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 40px;
    height: 40px;
    display: flex;
    align-items:center;
}
.license-newcourse-link-text{
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: 15px;
}
.license-newcourse-link-text:hover{
    text-decoration: underline;
}
.license-newcourse>img{
    margin-bottom: -4px;
}
.license-patent{
    width: 635px;
    margin-top: 35px;
    margin-left: 134px;
    position: relative;
}
.license-patent-btn{
    width: 186px;
    height: 40px;
    background: #4FBFA5;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.license-patent-btn:hover{
    box-shadow: 2px 2px 5px #4FBFA5;
}
.license-patent-wrap{
    display: flex;
    justify-content: space-between;
}
.license-patent-wrapper{
    margin-top: 15px;
}
.license-patent-info{
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.license-patent-text{
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    z-index: 2;
}
.license-patent-num{
    font-size: 48px;
    line-height: 150%;
    color: #000000;
    z-index: 2;
}
.license-patent-sert{
    width: 306px;
    height: 400px;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 1;
}
.license-patent-num-active{
    font-size: 96px;
    line-height: 150%;
    color: #00868A;
}
.license-patent-text-active{
    font-size: 28px;
    line-height: 150%;
    color: #000000;
    z-index: 2;
}

.recomend-container{
    display: flex;
}
.recomend-wrapper{
    width: 526px;
    background: #4FBFA5;
}
.recomend-btn{
    background: #00868A;
    width: 101px;
    height: 40px;
    margin-top: 35px;
    margin-left: 40px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.recomend-list{
    margin-top: 30px;
}
.recomend-prof{
    padding: 35px 40px 35px 40px;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
}
.recomend-active{
    background: #00868A;
}
.recomend-text{
    width: 770px;
    padding-left: 60px;
    padding-top: 35px;
    padding-right: 60px;
    background: #E6F3F4;
}
.recomend-text-descr{
    display: none;
}
.recomend-text-descr-active{
    display: block;
}
.recomend-text-descr-title{
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}
.recomend-text-descr>ul{
    margin-left: 20px;
    list-style: none;
}
.recomend-text-descr>ul>li{
    margin-top: 25px;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    position: relative;
}
.recomend-text-descr>ul>li::before{
    position: absolute;
    left: -15px;
    top: 6px;
    content: '';
    width: 6px;
    height: 6px;
    background: #00868A;
    border-radius: 2px;
}
.actual{
    background: #E6F3F4;
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 50px;
}
.actual-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #00868A;
}
.actual-wrapper{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.actual-item{
    position: relative;
    width: 306px;
}
.actual-btn{
    position: absolute;
    top: 31px;
    left: 30px;
    width: 148px;
    height: 40px;
    background: #4FBFA5;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.actual-btn:hover{
    background: #00868A;
}
.actual-subtitle{
    background: #00868A;
    margin-top: -4px;
    display: flex;
    padding: 25px 30px 25px 30px;
    align-items:center;
}
.actual-subtitle-descr{
    font-weight: 700;
    font-size: 21px;
    line-height: 150%;
    color: #FFFFFF;
}
footer{
    margin-top: 50px;
}
.footer-services-wrapepr{
    display: flex;
}
.footer-wrapper-items{
    width: 990px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-services-item{
    width: 306px;
    margin-left: 24px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.footer-services-title{
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 21px;
    line-height: 150%;
    color: #000000;
}
.footer-services-link{
    text-decoration: none;
    margin-top: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
}
.footer-services-link:hover{
    text-decoration: underline;
}
.footer-contact{
    margin-top: 30px;
}
.footer-contact-title{
    font-weight: 500;
    font-size: 11px;
    line-height: 150%;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.5;
}
.footer-contact-number{
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
    line-height: 150%;
    color: #000000;
}
.footer-contact-address{
    margin-top: 30px;
}
.footer-contact-theoutside{
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
    line-height: 150%;
    color: #000000;
}
.footer-contact-address-btn{
    margin-top: 15px;
    width: 164px;
    height: 45px;
    background: #00868A;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.footer-contact-address-btn:hover{
    background: #4FBFA5;
}
.footer-info{
    margin-top: 100px;
    display: flex;
    padding-bottom: 16px;
}
.footer-confidentiality{
    width: 644px;
    display: flex;
}
.footer-confidentiality-descr{
    width: 301px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #000000
}
.footer-confidentiality-link{
    margin-left: 70px;
    margin-top: 19px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}
.footer-lowvision{
    width: 331px;
}
.footer-lowvision-btn{
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
    width: 270px;
    height: 40px;
    background: #00868A;
    align-items: center;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer-lowvision-btn:hover{
    background: #4FBFA5;
}
.footer-lowvision-btn>img{
    margin-left: 15px;
}
.footer-lowvision-btn-text{
    margin-left: 10px;
}
.footer-network{
    width: 320px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 14px;
}

/* Модальное окно */
.modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}
.modal__content{
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#4FBFA5;
    padding-bottom: 30px;
    padding-top: 15px;
    text-align: center;
}
.modal__title{
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}
.modal__input{
    width: 230px;
    height: 40px;
    margin-top: 15px;
    padding-left: 10px;
}
.btn-modal{
    margin-top: 20px;
    width: 230px;
    height: 40px;   
    margin-top: 24px;
    border:none;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.modal-active{
    display: block;
}
.btn-modal:hover{
    background: #00868A;
    color: #FFFFFF;
}
.modal__close{
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -11px;
}


/* Адаптив */
@media(max-width: 1294px) {
    .container{
        width: 992px;
    }
    .head-logo{
        margin-left: 5px;
    }
    .head-phone{
        margin-left: 25px;
        font-size: 14px;
    }
    .head-oursalons{
        margin-left: 11px;

    }
    .head-oursalons-link{
        margin-left: 4px;
    }
    .head-lowvision{
        margin-left: 30px;
    }
    .head-lowvision-btn{
        max-width: 199px;
    }
    .head-lowvision-btn-text{
        margin: 0;
    }
    .network{
        max-width: 218px;
        margin-left: 30px;
    }
    .nav-list{
        margin-left: 15px;
    }
    .nav-btn{
        margin-left: 30px;
        margin-right: 15px;
    }
    .services-cosmetology{
        margin-top: 75px;
        margin-left: 15px;
    }
    .services-carousel{
        max-width: 549px;
        height: 410px;
        margin-right: 5px;
    }
    .license-patent{
        margin-left: 80px;
    }
    .license-patent-sert{
        max-width: 206px;
        height: 285px;
        top: 95px;
    }
    .license-patent-num{
        font-size: 42px;
    }
    .license-patent-num-active{
        font-size: 63px;
    }
    .license-patent-text-active{
        font-size: 22px;
    }
    .license-newcourse{
        height: 497px;
    }
    .license-newcourse-title{
        font-size: 24px;
    }
    .actual{
        padding-top: 30px;
    }
    .actual-wrapper{
        margin-top: 40px;
    }
    .actual-title{
        font-size: 43px;
    }
    .actual-item{
        max-width: 235px;
    }
    .actual-img{
        max-width: 235px;
    }
    .actual-btn{
        top: 15px;
        left: 20px;
    }
    .actual-subtitle{
        padding: 15px;
    }
    .actual-subtitle-descr{
        font-size: 17px;
    }
    footer{
        margin-top: 0;
    }
    .footer-services-item{
        max-width: 254px;
        margin-left: 10px;
    }
    .footer-services-link{
        margin-top: 10px;
    }
    .footer-contact-number{
        font-size: 18px;
    }
    .footer-contact-theoutside{
        font-size: 18px;
    }
    .footer-contact-address-btn{
        height: 38px;
    }
    .footer-info{
        margin-top: 70px;
    }
    .footer-confidentiality-link{
        margin-left: 35px;
        margin-top: 7px;
    }
    .footer-confidentiality-descr{
        padding-left: 5px;
    }
    .footer-network{
        padding-left: 25px;
        padding-right: 5px;
    }
    .footer-lowvision-btn{
        width: 199px;
    }
    .footer-lowvision-btn-text{
        margin-left: 0;
    }
    
}

@media(max-width: 991px) {
    .container{
        width: 768px;
    }
    .head-logo>img{
        width: 135px;
    }
    .network {
        margin-right: 0;
        margin-left: 14px;
        max-width: 150px;
    }
    .head-lowvision{
        margin-left: 15px;
    }
    .head-phone{
        margin-left: 10px;
        margin-top: 30px;
    }
    .head-oursalons{
        margin-top: 30px;
        max-width: 147px;
    }
    .head-lowvision-btn{
        max-width: 178px;
    }
    .head-oursalons-text{
        font-size: 15px;
    }
    .nav-list-link {
        font-size: 14px;
    }
    .nav-btn{
        margin-left: 15px;
        font-size: 17px;
    }
    .services-cosmetology{
        margin-top: 30px;
    }
    .services-cosmetology>h2{
        font-size: 36px;
    }
    .services-cosmetology-descr{
        margin-top: 0;
    }
    .services-cosmetology-btn{
        margin-top: 25px;
        height: 42px;
    }
    .services-carousel{
        max-width: 435px;
        height: 312px;
        margin-right: 1px;
    }
    .slick-next{
        left: -65px;
    }
    .slick-prev{
        left: -120px;
    }
    .license-newcourse{
        max-width: 450px;
        height: 435px;
    }
    .license-newcourse-btn{
        margin-top: 15px;
        margin-left: 20px;
    }
    .license-newcourse>img{
        max-width: 450px;
    }
    .license-newcourse-title{
        font-size: 20px;
        margin-left: 20px;
    }
    .license-newcourse-link{
        margin-left: 20px;
    }
    .license-patent{
        margin-top: 25px;
        margin-left: 45px;
    }
    .license-patent-sert{
        max-width: 160px;
        height: 222px;
    }
    .license-patent-num{
        font-size: 35px;
    }
    .license-patent-text{
        font-size: 11px;
    }
    .license-patent-num-active{
        font-size: 50px;
    }
    .license-patent-text-active{
        font-size: 17px;
    }
    .actual{
        margin-top: 0;
    }
    .actual-title{
        font-size: 35px;
    }
    .actual-wrapper{
        margin-top: 0;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .actual-item{
        max-width: 306px;
        margin-top: 15px;
    }
    .actual-item>img{
        max-width: 306px;
    }
    .footer-wrapper-items{
        max-width: 529px;
    }
    .footer-contact{
        margin-top: 140px;
    }
    .footer-confidentiality-link{
        margin-left: -12px;
    }
    .footer-lowvision-btn{
        margin-left: 0;
    }
    .footer-network{
        padding-left: 10px;
    }

}

@media(max-width: 767px) {
    .container{
        width: 576px;
    }
    .head-info{
        flex-wrap: wrap;
    }
    .head-logo{
        margin-left: 25px;
    }
    .head-phone{
        margin-left: 52px;
        font-size: 17px;
    }
    .head-oursalons{
        margin-left: 41px;
    }
    .head-oursalons-text{
        font-size: 17px;
    }
    .head-lowvision{
        margin-left: 65px;
    }
    .head-lowvision-btn{
        max-width: 211px;
    }
    .network{
        margin-left: 28px;
        max-width: 216px;
    }
    .nav-list{
        position: fixed;
        flex-direction: column;
        justify-content: center;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        z-index: 11;
        margin-left: 0;
        background-color:rgba(0, 0, 0, 0.8);
        padding-top: 15px;
        padding-bottom: 15px;
        transition: 0.6s all;
    }
    .nav-list-active{
        left: 0;
    }
    .nav-list-item{
        margin: 10px 0;
    }
    .nav-list-link{
        font-size: 16px;
    }
    .burger{
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
    }
    .burger>span{
        display: block;
        height: 3px;
        width: 100%;
        background-color:#000000;
        margin-bottom: 3px;
        transition: 0.5s all;
    }
    .burger-active{
        position: fixed;
        top: 25%;
        right: 290px;
        z-index: 15;
    }
    .burger-active>span{
        margin-bottom: -3px;
        background-color:#E6F3F4;
    }
    .burger-active>span:first-child{
        transform: rotate(-45deg);
    }
    .burger-active>span:nth-child(2){
        display: none;
    }
    .burger-active>span:last-child{
        transform: rotate(45deg);
    }
    .services-wrapper{
        display: block;
        
    }
    .services-cosmetology{
        margin: 0;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    .services-cosmetology-descr{
        font-size: 17px;
    }
    .services-carousel{
        margin-left: 70px;
        margin-top: 20px;
    }
    .slick-next{
        left: 440px;
        bottom: 120px;
    }
    .slick-prev{
        left: -70px;
        bottom: 120px;
    }
    .services-list{
        margin-top: 15px;
    }
    .services-list>div{
        font-size: 18px;
    }
    .license-newcourse{
        max-width: 338px;
    }
    .license-newcourse>img{
        max-width: 338px;
        height: 174px;
    }
    .license-patent{
        margin-left: 15px;
    }
    .recomend-text{
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 17px;
    }
    .recomend-text-descr-title{
        font-size: 20px;
    }
    .recomend-prof{
        padding-left: 10px;
        padding-right: 10px;
    }
    .actual{
        padding-bottom: 10px;
    }
    .actual-title{
        font-size: 30px;
    }
    .actual-item{
        max-width: 280px;
    }
    .actual-item>img{
        max-width: 280px;
    }
    .footer-services-wrapepr{
        display: block;
    }
    .footer-wrapper-items{
        max-width: 576px;
    }
    .footer-services-item{
        max-width: 182px;
    }
    .footer-contact{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
    }
    .footer-contact-address{
        margin-top: 0;
    }
    .footer-contact-title{
        text-align: center;
    }
    .footer-contact-theoutside{
        margin-top: 0;
    }
    .footer-info{
        margin-top: 40px;
        flex-wrap: wrap;
    }
    .footer-confidentiality-descr{
        width: 350px;
    }
    .footer-confidentiality-link{
        margin-left: 20px;
    }
    .footer-lowvision{
        width: 227px;
        margin-left: 5px;
    }
}

@media(max-width: 575px) {
    .container{
        width: 380px;
    }
    .head-oursalons{
        margin-left: 10px;
    }
    .head-lowvision{
        margin-left: 10px;
    }
    .network{
        max-width: 320px;
    }
    .services-carousel{
        margin-left: 0;
        width: 380px;
    }
    .slick-prev>img{
        width: 50px;
        height: 50px; 
    }
    .slick-next>img{
        width: 50px;
        height: 50px; 
    }
    .slick-next{
        left: 330px;
        bottom: -14px;
    }
    .slick-prev{
        left: 0;
        bottom: -14px;
    }
    .license{
        margin-top: 15px;
    } 
    .services-list>div{
        padding-top: 0;
        height: 60px;
        width: 127px;
    }
    .license-container{
        flex-direction: column;
    }
    .license-patent{
        max-width: 380px;
        margin-left: 0;
        padding-left: 15px;
    }
    .license-newcourse{
        max-width: 380px;
    }
    .license-newcourse>img{
        max-width: 380px;
        height: 217px;
    }
    .license-newcourse-link{
        margin-bottom: 20px;
    }
    .license-patent-sert{
        right: 28px;
    }
    .recomend-btn{
        margin-top: 15px;
        margin-left: 25px;
    }
    .recomend-prof{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
    .recomend-text{
        padding-left: 5px;
        padding-right: 5px;
    }
    .recomend-text-descr-title{
        font-size: 15px;
    }
    .recomend-text-descr>ul{
        margin-left: 12px;
    }
    .recomend-text-descr>ul>li{
        font-size: 11px;
    }
    .recomend-prof-last{
        padding-bottom: 122px;
    }
    .actual-title{
        font-size: 20px;
    }
    .actual-item{
        max-width: 306px;
    }
    .actual-item>img{
        max-width: 306px;
    }
    .footer-wrapper-items{
        max-width: 380px;
    }
    .footer-services-item{
        margin-left: 5px;
    }
    .footer-contact{
        flex-wrap: wrap;
    }
    .footer-contact-theoutside{
        font-size: 15px;
    }
    .footer-confidentiality{
        flex-direction: column;
    }
    .footer-confidentiality-descr{
        text-align: center;
    }
    .footer-confidentiality-link{
        margin-left: 0;
    }
    .footer-lowvision{
        display: block;
        width: 100%;
        margin-left: 20%;
        margin-top: 15px;
    }
    .footer-lowvision-btn{
        width: 220px;
    }
    .footer-network{
        padding-left: 55px;
    }
    .modal{
        width: 380px;
        overflow: hidden;
    }
    .burger-active{
        top: 15%;
        right: 187px;
    }
    
}