@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff);
    font-weight: 400;
}
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.woff);
    font-weight: 500;
}
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.woff);
    font-weight: 700;
}
@font-face{
    font-family: Inter;
    src: url(../fonts/Inter-Medium.woff);
    font-weight: 500;
}
@font-face{
    font-family: Inter;
    src: url(../fonts/Inter-Bold.woff);
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main{
    display: block;
}
html{
    font-size: 1px;
}
body{
    line-height: 1;
}
.container{
    max-width: 1156rem;
    margin: 0 auto;
}
header{
    position: relative;
    
}
.header-container{
    z-index: 10;
    position: relative;
    padding-top: 28rem;
    padding-bottom: 153rem;
}
.header-bg{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.head{
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.head-wrapp{
    display: flex;
    align-items: center;
}
.head-text{
    margin-left: 35rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12rem;
    line-height: 18rem;
    color: #FFFFFF;
}
.head-contact{
    display: flex;
}
.head-contact-telegramm{
    margin-left: 18rem;
}
.head-contact-minwrapp{
    margin-left: 24rem;
}
.head-contact-minwrapp{
    display: flex;
    flex-direction: column;
}
.head-contact-phone{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20rem;
    line-height: 24rem;
    color: #FFFFFF;
    text-decoration: none;
}
.head-contact-phone:hover{
    text-decoration: underline;
}
.head-contact-syte{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 24rem;
    color: #FFFFFF;
    text-decoration: none;
}
.head-contact-syte:hover{
    text-decoration: underline;
}
.content{
    display: flex;
    flex-direction: column;
}
h1{
    margin-top: 64rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 44rem;
    line-height: 58rem;
    color: #FFFFFF;
}
.h1-span{
    color: #ED5656;
}
.content-lists{
    margin-top: 21rem;
    width: 315rem;
}
.content-list{
    margin-top: 12rem;
    margin-left: 31rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18rem;
    line-height: 24rem;
    color: #FFFFFF;
    list-style-type: none;
    position: relative;
}
.content-list::before{
    content: "";
    display: block;
    position: absolute;
    left: -31rem;
    top: 5rem;
    width: 12rem;
    height: 6rem;
    border-right: 4rem solid #ED5656;
    border-top: 4rem solid #ED5656;
    transform: rotate(135deg);
}
button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12rem 32rem;
    gap: 12rem;
    width: 228.04rem;
    height: 48rem;
    background: #ED5656;
    box-shadow: 0rem 5rem 4rem rgba(0, 0, 0, 0.2), 0rem 4rem 0rem #BE4949;
    border-radius: 36rem;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16rem;
    line-height: 24rem;
    color: #FFFFFF;
    transition: 0.5s all;
}
button:hover{
    background: #f37474;
    
}
.content-btn{
    margin-top: 57rem;
}
h2{
    
    margin: 0 auto;
    margin-top: 96rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 38rem;
    line-height: 50rem;
    text-align: center;
    color: #242424;
}
.advantage{
    padding-bottom: 96rem;
}
.advantage-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30rem;
}
.advantage-tiem{
    width: 424rem;
    display: flex;
    margin-top: 48rem;
    align-items:center;
}
.advantage-tiem-descr{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    margin-left: 50rem;
}
.pass{
    position: relative;
    background: #F3F7FB;
    padding-bottom: 178rem;
    padding-top: 96rem;
}
.pass-img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.pass-container{
    position: relative;
    z-index: 10;
}
.pass-title{
    margin-top: 0;
}
.pass-title-span{
    color: #ED5656;
}
.pass-wrapper{
    margin-top: 96rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pass-left-info{
    width: 520rem;
}
.pass-left-info-description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16rem;
    line-height: 24rem;
    color: #4F4F4F;
}
.pass-left-info-description-span{
    color:#ED5656;
}
.pass-left-info-sub-description{
    margin-top: 31rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16rem;
    line-height: 24rem;
    color: #242424;
}
.pass-right-info{
    width: 568rem;
}
.pass-right-info-subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #144C7F;
}
.pass-right-info-list{
    margin-top: 24rem;
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    position: relative;
    margin-left: 30rem;
}
.pass-right-info-list::before{
    content: "";
    display: block;
    position: absolute;
    left: -30rem;
    top: 6rem;
    width: 7rem;
    height: 7rem;
    border-right: 3rem solid #ED5656;
    border-top: 3rem solid #ED5656;
    transform: rotate(45deg);
}
.pass-right-info-list::after{
    content: "";
    display: block;
    position: absolute;
    left: -22rem;
    top: 6rem;
    width: 7rem;
    height: 7rem;
    border-right: 3rem solid #ED5656;
    border-top: 3rem solid #ED5656;
    transform: rotate(45deg);
}
.discount{
    position: relative;
}
.discount-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.discount-container{
    position: relative;
    z-index: 10;
    padding-top: 96rem;
    padding-bottom: 126rem;
    display: none;
}
.discount-container-active{
    display: block;
}
.discount-title{
    margin-top: 0;
    color: #FFFFFF;
}
.discount-item-content{
    width: 960rem;
    margin: 0 auto;
}
.discount-item-title{
    margin-top: 96rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24rem;
    line-height: 36rem;
    color: #F3F7FB;
    
}
.discount-minwrapp{
    margin-top: 6rem;
    width: 960rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.discount-item-content-display{
    display: none;
}
.discount-item-content-display-active{
    display: block;
}
.discount-minwrapp-item{
    width: 470rem;
    background: #FFFFFF;
    border-radius: 8px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 10rem;
    margin-top: 35rem;
    display: flex;
    align-items:center;
    cursor: pointer;
}
.discount-minwrapp-item-active{
    border: 2px solid #ED5656;
}
.discount-minwrapp-item-checkbox{
    display: block;
    width: 16rem;
    height: 16rem;
    border-radius: 4rem;
    border: 1rem solid #D7E4F0;
    background: #FFFFFF;
    position: relative;
}
.discount-minwrapp-item-checkbox-active{
    background:#ED5656;
}
.discount-minwrapp-item-checkbox-active::before{
    display: block;
    position: absolute;
    top: 18%;
    left: 14%;
    content: "";
    width: 10rem;
    height: 4rem;
    border-bottom: 2rem solid white;
    border-left: 2rem solid white;
    transform: rotate(-45deg);
}
.discount-minwrapp-item-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: #4F4F4F;
    margin-left: 10rem;
}
.discount-btns-wrapp{
    margin-top: 52rem;
    display: flex;
    justify-content: right;
}
.discount-btn{
    width: 141rem;
}
.discount-prev{
    background: #144C7F;
    box-shadow: 0rem 5rem 4rem rgba(0, 0, 0, 0.2), 0rem 4rem 0rem #144C7F;
}
.discount-prev:hover{
    background: #ED5656;
    box-shadow: 0rem 5rem 4rem rgba(0, 0, 0, 0.2), 0rem 4rem 0rem #BE4949;
}
.discount-next{
    margin-right: 55rem;
    margin-left: 20rem;
}
.discount-total{
    width: 274rem;
    height: 52rem;
    border: 2rem dashed #A9E5FF;
    border-radius: 8rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 14rem;
    padding-left: 10rem;
}
.discount-total-span{
    color:#ED5656;
}
.discount-band{
    margin: 0 auto;
    margin-top: 70rem;
    width: 372rem;
}
.discount-band-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12rem;
    line-height: 18rem;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.discount-band-line{
    margin-top: 6rem;
    width: 100%;
    height: 8rem;
    background: #276095;
    border-radius: 8px;
}
.discount-subtitle{
    width: 639rem;
    margin: 0 auto;
    margin-top: 21rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    text-align: center;
    color: #FFFFFF;
}
.discount-total-last{
    margin: 0 auto;
    margin-top: 35rem;
}
.discount-form{
    width: 295rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
input{
    background: #FFFFFF;
    border-radius: 8rem;
    height: 52rem;
    border: none;
    padding-left: 10rem;
}
.discount-form-input{
    margin-top: 40rem;
}
.discount-confid{
    margin-top: 31rem;
    display: flex;
}
.discount-form-checkbox{
    margin-top: 3rem;
}
.confid-descr{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12rem;
    line-height: 18rem;
    color: #FFFFFF;
}
.confid-descr-link{
    text-decoration: none;
    color: #8DDCFF;
}
.confid-descr-link:hover{
    text-decoration: underline;
}
.discount-confid-descr{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12rem;
    line-height: 18rem;
    color: #FFFFFF;
    margin-left: 14rem;
}
.discount-confid-descr-link{
    text-decoration: none;
    color: #8DDCFF;
}
.discount-confid-descr-link:hover{
    text-decoration: underline;
}
.discount-form-btn{
    margin-top: 40rem;
    width: 295rem;
}
.discount-band-line{
    display: flex;
}
.discount-band-line-span{
    display: none;
    width: 25%;
    height: 100%;
    background: white;
}
.discount-band-line-span-active{
    display: block;
}
.step-wrapper{
    margin-top: 96rem;
    display: flex;
    justify-content: space-between;
}
.step-item-wrap{
    margin: 0 auto;
    position: relative;
    width: 176rem;
    padding: 59rem 68rem;
}
.step-item-wrap-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}
.step-item-wrap-num{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64rem;
    line-height: 58rem;
    text-align: center;
    color: #144C7F;
}
.step-item-descr{
    width: 300rem;
    margin-top: 49rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    text-align: center;
    color: #4F4F4F;
}
.step-item-descr-span{
    color:#ED5656;
    text-decoration: none;
}
.step-item-descr-span:hover{
    text-decoration: underline;
}
.setp-arrow{
    width: 84rem;
    height: 16rem;
    margin-top: 80rem;
}
.help-container{
    padding-bottom: 96rem;
}
.help-wrapper{
    width: 982rem;
    margin: 0 auto;
    margin-top: 96rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.help-item{
    padding: 51rem 33rem;
    background: #FFFFFF;
    border: 1px solid #D7E4F0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.help-item-subtitle{
    width: 108rem;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24rem;
    line-height: 36rem;
    text-align: center;
    color: #144C7F;
}
.help-item-subtitle-span{
    color: black;
}
.help-item-wrap{
    margin: 0 auto;
    margin-top: 29rem;
    width: 108rem;
}
.help-item-time{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 28rem;
    text-align: center;
    color: #4F4F4F;
}
.help-item-time-span{
    font-size: 20rem;
    line-height: 28rem;
    color: #ED5656;
}
.help-item-btn{
    margin-top: 29rem;
}
.cheaper{
    background: #D7E4F0;
    padding-top: 96rem;
    padding-bottom: 86rem;
}
.cheaper-title{
    margin-top: 0;
}
.cheaper-subtitle{
    width: 369rem;
    margin: 0 auto;
    margin-top: 26rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24rem;
    line-height: 36rem;
    color: #144C7F;
}
.cheaper-wrapper-form{
    margin: 0 auto;
    margin-top: 55rem;
    width: 883rem;
    display: flex;
    justify-content: space-between;
}
.cheaper-form-input{
    width: 274rem;
}
.cheaper-form-btn{
    width: 295rem;
    padding-left: 0;
    padding-right: 0;
}
.cheaper-confid{
    width: 883rem;
    margin: 0 auto;
    margin-top: 37rem;
    display: flex;
    align-items:center;
}
.confid-descr-cheaper{
    margin-left: 14rem;
    color: black;
}
.confid-descr-link-cheaper{
    color:#ED5656;
}
.document-container{
    padding-bottom: 96rem;
}
.document-wrapper{
    width: 800rem;
    margin: 0 auto;
    margin-top: 96rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.document-item{
    width: 322rem;
}
.document-item-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24rem;
    line-height: 24rem;
    color: #144C7F;
}
.document-item-list{
    margin-top: 24rem;
    margin-left: 30rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    list-style-type: none;
    position: relative;
}
.document-item-list::before{
    content: "";
    display: block;
    position: absolute;
    left: -30rem;
    top: 6rem;
    width: 7rem;
    height: 7rem;
    border-right: 3rem solid #ED5656;
    border-top: 3rem solid #ED5656;
    transform: rotate(45deg);
}
.document-item-list::after{
    content: "";
    display: block;
    position: absolute;
    left: -22rem;
    top: 6rem;
    width: 7rem;
    height: 7rem;
    border-right: 3rem solid #ED5656;
    border-top: 3rem solid #ED5656;
    transform: rotate(45deg);
}
.order{
    position: relative;
}
.order-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.order-container{
    padding-top: 96rem;
    padding-bottom: 92rem;
    z-index: 10;
    position: relative;
}
.order-title{
    margin-top: 0;
}
.order-subtitle{
    width: 639rem;
    margin: 0 auto;
    margin-top: 21rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    text-align: center;
    color: #242424;
}
.order-wrapper{
    
    margin: 0 auto;
    margin-top: 57rem;
    display: flex;
    justify-content: space-between;
}
.order-description{
    width: 508rem;
}
.order-description-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: #4F4F4F;
}
.order-form{
    width: 295rem;
}
.order-description-list{
    margin-top: 24rem;
    margin-left: 30rem;
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: #4F4F4F;
    position: relative;
}
.order-description-list::before{
    content: "";
    display: block;
    position: absolute;
    left: -30rem;
    top: 6rem;
    width: 7rem;
    height: 7rem;
    border-right: 3rem solid #ED5656;
    border-top: 3rem solid #ED5656;
    transform: rotate(45deg);
}
.order-description-list::after{
    content: "";
    display: block;
    position: absolute;
    left: -22rem;
    top: 6rem;
    width: 7rem;
    height: 7rem;
    border-right: 3rem solid #ED5656;
    border-top: 3rem solid #ED5656;
    transform: rotate(45deg);
}
.order-input{
    margin-bottom: 30rem;
    width: 100%;
}
.order-input-comment{
    width: 100%;
    height: 94rem;
    resize: none;
    border: none;
    padding-left: 10rem;
    padding-top: 10rem;
}
.order-confid{
    display: flex;
    margin-top: 30rem;
}
.order-confid-check{
    height: 13rem;
    margin-top: 2rem;
}
.confid-descr-order{
    margin-left: 10rem;
    color: #242424;
}
.confid-descr-link-order{
    color:#ED5656;
}
.order-btn{
    margin-top: 30rem;
    width: 100%;
}
.verif{
    background: #D7E4F0;
}
.verif-container{
    padding-top: 96rem;
    padding-bottom: 100rem;
}
.verif-title{
    margin-top: 0;
}
.verif-wrapper{
    width: 982rem;
    margin-top: 80rem;
    display: flex;
    justify-content: space-between;
}
.verif-descr{
    width: 508rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: #4F4F4F;
}
.verif-form{
    width: 274rem;
}
.verif-form-input{
    width: 100%;
}
.verif-form-text{
    margin-top: 8rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10rem;
    line-height: 24rem;
    color: #4F4F4F;
}
.verif-form-btn{
    width: 100%;
    margin-top: 23rem;
}
.treker-container{
    width: 982rem;
    padding-top: 96rem;
    padding-bottom: 96rem;
}
.treker-title{
    margin-top: 0;
}
.treker-subtitle{
    margin: 0 auto;
    margin-top: 36rem;
    max-width: 764rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    text-align: center;
    color: #242424;
}
.treker-wrapper{
    margin-top: 96rem;
    display: flex;
    justify-content: space-between;
}
.treker-item{
    width: 294rem;
    min-height: 654rem;
    padding: 34rem;
    background: #FFFFFF;
    border: 1rem solid #D7E4F0;
    box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.1);
    border-radius: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.treker-item-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24rem;
    line-height: 36rem;
    text-align: center;
    color: #144C7F;
}
.treker-item-img{
    display: block;
    margin: 0 auto;
    margin-top: 29rem;
}
.treker-item-wrap{
    text-align: center;
}
.treker-item-wrap-text{
    margin-top: 29rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 28rem;
    text-align: center;
    color: #4F4F4F;
}
.treker-item-wrap-text-span{
    color:#ED5656;
}
.treker-item-btn{
    margin-top: 29rem;
}
.treker-fut-title{
    margin-top: 42rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    text-align: center;
    color: #242424;
}
.fast-order{
    position: relative;
    background: #F3F7FB;
}
.fast-order-img-1{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.fast-order-img-2{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.fast-order-container{
    width: 982rem;
    padding-top: 96rem;
    padding-bottom: 83rem;
    position: relative;
    z-index: 10;
}
.fast-order-title{
    margin-top: 0;
}
.fast-order-wrapper{
    margin-top: 54rem;
    display: flex;
    justify-content: space-between;
}
.fast-order-item{
    width: 448rem;
}
.fast-order-item-subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18rem;
    line-height: 24rem;
    color: #144C7F;
}
.fast-order-item-first_lists{
    margin-top: 24rem;
}
.fast-order-item-list{
    margin-top: 24rem;
    margin-left: 24rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: #4F4F4F;
    list-style-type: none;
    position: relative;
}
.fast-order-item-first_list::before{
    position: absolute;
    top: 6rem;
    left: -24rem;
    display: block;
    content: "";
    width: 6rem;
    height: 6rem;
    background: #144C7F;
}
.fast-order-item-second-list{
    margin-top: 30rem;
}
.fast-order-item-second-list::before{
    content: "";
    display: block;
    position: absolute;
    left: -30rem;
    top: 6rem;
    width: 7rem;
    height: 7rem;
    border-right: 3rem solid #ED5656;
    border-top: 3rem solid #ED5656;
    transform: rotate(45deg);
}
.fast-order-item-second-list::after{
    content: "";
    display: block;
    position: absolute;
    left: -22rem;
    top: 6rem;
    width: 7rem;
    height: 7rem;
    border-right: 3rem solid #ED5656;
    border-top: 3rem solid #ED5656;
    transform: rotate(45deg);
}
.center{
    background: white;
    position: relative;
    z-index: 10;
}
.center-container{
    padding-top: 96rem;
    padding-bottom: 96rem;
}
.center-title{
    margin-top: 0;
}
.center-subtitle{
    width: 764rem;
    margin: 0 auto;
    margin-top: 36rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    text-align: center;
    color: #242424;
}
.center-wrapepr{
    margin-top: 96rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.center-item{
    width: 200rem;
    height: 176rem;
    background: #F3F7FB;
    border-radius: 8rem;
    text-align: center;
}
.center-item-num{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 44rem;
    line-height: 58rem;
    color: #144C7F;
    margin-top: 16rem;
}
.center-item-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: #4F4F4F;
    margin-top: 12rem;
}
.review{
    position: relative;
}
.review-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.review-container{
    position: relative;
    z-index: 10;
    padding-top: 96rem;
    padding-bottom: 130rem;
}
.review-title{
    margin-top: 0;
}
.review-subtitle{
    margin-top: 21rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    text-align: center;
    color: #242424;
}
.review-wrapper-carousel{
    padding-left: 40rem;
    padding-right: 40rem;
}
.review-carousel{
    margin-top: 75rem;
}
.review-carousel-slide{
    width: 314rem;
    padding: 34rem 23rem;
    background: #FFFFFF;
    border: 1px solid #D7E4F0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 15rem;
    margin-right: 15rem;
}
.review-carousel-slide-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18rem;
    line-height: 24rem;
    color: #242424;
    margin-top: 29rem;
}
.review-carousel-slide-descr{
    margin-top: 29rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: #4F4F4F;
}
.slick-prev{
    width: 1rem;
    height: 1rem;
    background: #D7E4F0;
    left: -40rem;
    
}
.slick-prev::before{
    content: url(../images/img/Prev.svg);
}
.slick-next{
    width: 1rem;
    height: 1rem;
    background: #D7E4F0;
    right: -5rem;
    
}
.slick-next::before{
    content: url(../images/img/Next.svg);
}
.contact-container{
    padding-bottom: 96rem;
    text-align: center;
}
.contact-number{
    display: block;
    margin-top: 62rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 58px;
    color: #ED5656;
    text-decoration: none;
}
.contact-number:hover{
    text-decoration: underline;
}
.contact-minwrapp{
    width: 120rem;
    margin: 0 auto;
    margin-top: 20rem;
    display: flex;
    justify-content: space-between;
}
.contact-whatsapp-img{
    width: 48rem;
}
.contact-telegramm-img{
    width: 48rem;
}
.contact-syte{
    display: block;
    margin: 0 auto;
    margin-top: 25rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: #144C7F;
    text-decoration: none;
}
.contact-syte:hover{
    text-decoration: underline;
}
.contact-address{
    display: block;
    margin: 0 auto;
    margin-top: 25rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: #242424;
}
.map{
    height: 644rem;
    background: #FBF9F6;
    z-index: 10;
    position: relative;
}
footer{
    position: relative;
}
.footer-img{
    position: absolute;
    top: -250rem;
    right: 0;
    z-index: 1;
}
.footer-container{
    padding-top: 64rem;
    padding-bottom: 51rem;
    position: relative;
    z-index: 10;
    text-align: center;
}
.footer-question{
    margin-top: 29rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24rem;
    line-height: 36rem;
    color: #4F4F4F;
}
.footer-phone{
    display: block;
    margin: 0 auto;
    margin-top: 12rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24rem;
    line-height: 36rem;
    color: #242424;
    text-decoration: none;
}
.footer-phone:hover{
    text-decoration: underline;
}
.footer-lists{
    width: 575rem;
    margin: 0 auto;
    margin-top: 25rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-list-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: #144C7F;
    text-decoration: none;
}
.footer-list-link:hover{
    text-decoration: underline;
}
.footer-descr{
    margin-top: 25rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: #4F4F4F;
}
@media (min-width: 1px) and (max-width: 900px){
    .container{
        width: 100%;
        padding-left: 15rem;
        padding-right: 15rem;
    }
    .head-text{
        display: none;
    }
    .verif-wrapper{
        width: 100%;
    }
    .setp-arrow{
        display: none;
    }
    .pass-left-info{
        width: 48%;
    }
    .pass-right-info{
        width: 48%;
    }
    .discount-item-content{
        width: 100%;
    }
    .discount-minwrapp{
        width: 100%;
    }
    .discount-btns-wrapp{
        justify-content: center;
    }
    .help-wrapper{
        width: 100%;
    }
    .treker-item-img{
        max-width: 100%;
    }
    .center-item{
        margin-top: 20rem;
    }
    .slick-next{
        right: 10rem;
    }
}
@media(max-width: 649px){
    .cheaper-wrapper-form{
        flex-wrap: wrap;
        width: 100%;
    }
    .head{
        flex-wrap: wrap;
    }
    .head-contact{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20rem;
    }
    .head-contact-minwrapp{
        margin-left: 0;
    }
    .cheaper-confid{
        width: auto;
    }
    .treker-wrapper{
        flex-wrap: wrap;
    }
    .step-wrapper{
        flex-wrap: wrap;
    }
    .step-item{
        width: 100%;
        margin-top: 30rem;
    }
    .step-item-descr{
        width: 100%;
        margin-top: 170rem;
    }
    .step-item-wrap{
        width: 100%;
        padding: 0;
        padding-top: 40%;
        padding-left: 43%;
    }
    .document-wrapper{
        width: 100%;
    }
    .center-subtitle{
        width: auto;
    }
    .center-item{
        width: 48%;
    }
    .order-subtitle{
        width: auto;
    }
    .order-wrapper{
        flex-wrap: wrap;
    }
    .order-form{
        margin-top: 20rem;
    }
    .pass-left-info{
        width: 100%;
    }
    .pass-right-info{
        width: 100%;
    }
    .footer-lists{
        width: 100%;
    }
    .fast-order-wrapper{
        flex-wrap: wrap;
    }
    .cheaper-subtitle{
        width: auto;
    }
    .verif-wrapper{
        flex-wrap: wrap;
    }
    .discount-btns-wrapp{
        flex-wrap: wrap;
    }
    .fast-order-img-2{
        display: none;
    }
    .discount-prev{
        margin-right: 5rem;
    }
    .discount-next{
        margin: 0;
        margin-left: 5rem;
    }
    .discount-total{
        margin-top: 20rem;
    }
    .discount-band{
        width: 100%;
    }
    .help-item{
        margin-top: 20rem;
        width: 100%;
    }
    .cheaper-form-input{
        width: 100%;
        margin-bottom: 10rem;
    }
    .cheaper-form-btn{
        width: 100%;
    }
    .cheaper-subtitle{
        text-align: center;
    }
    .document-item{
        margin-top: 30rem;
    }
    .treker-item{
        width: 100%;
        margin-top: 20rem;
    }
    .contact-number{
        font-size: 32rem;
    }
    .footer-lists{
        flex-direction: column;
    }
}