@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff);
    font-weight: 400;
}
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.woff);
    font-weight: 500;
}
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.woff);
    font-weight: 700;
}
@font-face{
    font-family: Inter;
    src: url(../fonts/Inter-Medium.woff);
    font-weight: 500;
}
@font-face{
    font-family: Inter;
    src: url(../fonts/Inter-Bold.woff);
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main{
    display: block;
}
html{
    font-size: 1px;
}
body{
    line-height: 1;
}
.container{
    width: 1156rem;
    margin: 0 auto;
}
header{
    position: relative;
    
}
.header-container{
    z-index: 10;
    position: relative;
    padding-top: 28rem;
    padding-bottom: 153rem;
}
.header-bg{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    z-index: 1;
}
.head{
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.head-wrapp{
    display: flex;
    align-items: center;
}
.head-text{
    margin-left: 35rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12rem;
    line-height: 18rem;
    color: #FFFFFF;
}
.head-contact{
    display: flex;
}
.head-contact-telegramm{
    margin-left: 18rem;
}
.head-contact-minwrapp{
    margin-left: 24rem;
}
.head-contact-minwrapp{
    display: flex;
    flex-direction: column;
}
.head-contact-phone{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20rem;
    line-height: 24rem;
    color: #FFFFFF;
    text-decoration: none;
}
.head-contact-phone:hover{
    text-decoration: underline;
}
.head-contact-syte{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 24rem;
    color: #FFFFFF;
    text-decoration: none;
}
.head-contact-syte:hover{
    text-decoration: underline;
}
.content{
    display: flex;
    flex-direction: column;
}
h1{
    margin-top: 64rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 44rem;
    line-height: 58rem;
    color: #FFFFFF;
}
.h1-span{
    color: #ED5656;
}
.content-lists{
    margin-top: 21rem;
    width: 315rem;
}
.content-list{
    margin-top: 12rem;
    margin-left: 31rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18rem;
    line-height: 24rem;
    color: #FFFFFF;
    list-style-type: none;
    position: relative;
}
.content-list::before{
    content: "";
    display: block;
    position: absolute;
    left: -31rem;
    top: 5rem;
    width: 12rem;
    height: 6rem;
    border-right: 4rem solid #ED5656;
    border-top: 4rem solid #ED5656;
    transform: rotate(135deg);
}
button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12rem 32rem;
    gap: 12rem;
    width: 228.04rem;
    height: 48rem;
    background: #ED5656;
    box-shadow: 0rem 5rem 4rem rgba(0, 0, 0, 0.2), 0rem 4rem 0rem #BE4949;
    border-radius: 36rem;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16rem;
    line-height: 24rem;
    color: #FFFFFF;
    transition: 0.5s all;
}
button:hover{
    background: #f37474;
    
}
.content-btn{
    margin-top: 57rem;
}
h2{
    width: 877rem;
    margin: 0 auto;
    margin-top: 96rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 38rem;
    line-height: 50rem;
    text-align: center;
    color: #242424;
}
.advantage{
    padding-bottom: 96rem;
}
.advantage-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30rem;
}
.advantage-tiem{
    width: 424rem;
    display: flex;
    margin-top: 48rem;
    align-items:center;
}
.advantage-tiem-descr{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    margin-left: 50rem;
}
.pass{
    position: relative;
    background: #F3F7FB;
    padding-bottom: 178rem;
    padding-top: 96rem;
}
.pass-img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.pass-container{
    position: relative;
    z-index: 10;
}
.pass-title{
    margin-top: 0;
}
.pass-title-span{
    color: #ED5656;
}
.pass-wrapper{
    margin-top: 96rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pass-left-info{
    width: 520rem;
}
.pass-left-info-description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16rem;
    line-height: 24rem;
    color: #4F4F4F;
}
.pass-left-info-description-span{
    color:#ED5656;
}
.pass-left-info-sub-description{
    margin-top: 31rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16rem;
    line-height: 24rem;
    color: #242424;
}
.pass-right-info{
    width: 568rem;
}
.pass-right-info-subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #144C7F;
}
.pass-right-info-list{
    margin-top: 24rem;
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    position: relative;
    margin-left: 30rem;
}
.pass-right-info-list::before{
    content: "";
    display: block;
    position: absolute;
    left: -30rem;
    top: 6rem;
    width: 7rem;
    height: 7rem;
    border-right: 3rem solid #ED5656;
    border-top: 3rem solid #ED5656;
    transform: rotate(45deg);
}
.pass-right-info-list::after{
    content: "";
    display: block;
    position: absolute;
    left: -22rem;
    top: 6rem;
    width: 7rem;
    height: 7rem;
    border-right: 3rem solid #ED5656;
    border-top: 3rem solid #ED5656;
    transform: rotate(45deg);
}
.discount{
    position: relative;
}
.discount-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.discount-container{
    position: relative;
    z-index: 10;
    padding-top: 96rem;
    padding-bottom: 126rem;
    display: none;
}
.discount-container-active{
    display: block;
}
.discount-title{
    margin-top: 0;
    color: #FFFFFF;
}
.discount-item-content{
    width: 960rem;
    margin: 0 auto;
}
.discount-item-title{
    margin-top: 96rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24rem;
    line-height: 36rem;
    color: #F3F7FB;
    
}
.discount-minwrapp{
    margin-top: 6rem;
    width: 960rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.discount-item-content-display{
    display: none;
}
.discount-item-content-display-active{
    display: block;
}
.discount-minwrapp-item{
    width: 470rem;
    background: #FFFFFF;
    border-radius: 8px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 10rem;
    margin-top: 35rem;
    display: flex;
    align-items:center;
    cursor: pointer;
}
.discount-minwrapp-item-active{
    border: 2px solid #ED5656;
}
.discount-minwrapp-item-checkbox{
    display: block;
    width: 16rem;
    height: 16rem;
    border-radius: 4rem;
    border: 1rem solid #D7E4F0;
    background: #FFFFFF;
    position: relative;
}
.discount-minwrapp-item-checkbox-active{
    background:#ED5656;
}
.discount-minwrapp-item-checkbox-active::before{
    display: block;
    position: absolute;
    top: 18%;
    left: 14%;
    content: "";
    width: 10rem;
    height: 4rem;
    border-bottom: 2rem solid white;
    border-left: 2rem solid white;
    transform: rotate(-45deg);
}
.discount-minwrapp-item-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: #4F4F4F;
    margin-left: 10rem;
}
.discount-btns-wrapp{
    margin-top: 52rem;
    display: flex;
    justify-content: right;
}
.discount-btn{
    width: 141rem;
}
.discount-prev{
    background: #144C7F;
    box-shadow: 0rem 5rem 4rem rgba(0, 0, 0, 0.2), 0rem 4rem 0rem #144C7F;
}
.discount-prev:hover{
    background: #ED5656;
    box-shadow: 0rem 5rem 4rem rgba(0, 0, 0, 0.2), 0rem 4rem 0rem #BE4949;
}
.discount-next{
    margin-right: 55rem;
    margin-left: 20rem;
}
.discount-total{
    width: 274rem;
    height: 52rem;
    border: 2rem dashed #A9E5FF;
    border-radius: 8rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 14rem;
    padding-left: 10rem;
}
.discount-total-span{
    color:#ED5656;
}
.discount-band{
    margin: 0 auto;
    margin-top: 70rem;
    width: 372rem;
}
.discount-band-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12rem;
    line-height: 18rem;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.discount-band-line{
    margin-top: 6rem;
    width: 100%;
    height: 8rem;
    background: #276095;
    border-radius: 8px;
}
.discount-subtitle{
    width: 639rem;
    margin: 0 auto;
    margin-top: 21rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    text-align: center;
    color: #FFFFFF;
}
.discount-total-last{
    margin: 0 auto;
    margin-top: 35rem;
}
.discount-form{
    width: 295rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
input{
    background: #FFFFFF;
    border-radius: 8rem;
    height: 52rem;
    border: none;
    padding-left: 10rem;
}
.discount-form-input{
    margin-top: 40rem;
}
.discount-confid{
    margin-top: 31rem;
    display: flex;
}
.discount-form-checkbox{
    margin-top: 3rem;
}
.confid-descr{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12rem;
    line-height: 18rem;
    color: #FFFFFF;
}
.confid-descr-link{
    text-decoration: none;
    color: #8DDCFF;
}
.confid-descr-link:hover{
    text-decoration: underline;
}
.discount-confid-descr{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12rem;
    line-height: 18rem;
    color: #FFFFFF;
    margin-left: 14rem;
}
.discount-confid-descr-link{
    text-decoration: none;
    color: #8DDCFF;
}
.discount-confid-descr-link:hover{
    text-decoration: underline;
}
.discount-form-btn{
    margin-top: 40rem;
    width: 295rem;
}
.discount-band-line{
    display: flex;
}
.discount-band-line-span{
    display: none;
    width: 25%;
    height: 100%;
    background: white;
}
.discount-band-line-span-active{
    display: block;
}
.step-wrapper{
    margin-top: 96rem;
    display: flex;
    justify-content: space-between;
}
.step-item-wrap{
    margin: 0 auto;
    position: relative;
    width: 176rem;
    padding: 59rem 68rem;
}
.step-item-wrap-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}
.step-item-wrap-num{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64rem;
    line-height: 58rem;
    text-align: center;
    color: #144C7F;
}
.step-item-descr{
    width: 300rem;
    margin-top: 49rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    text-align: center;
    color: #4F4F4F;
}
.step-item-descr-span{
    color:#ED5656;
    text-decoration: none;
}
.step-item-descr-span:hover{
    text-decoration: underline;
}
.setp-arrow{
    width: 84rem;
    height: 16rem;
    margin-top: 80rem;
}
.help-container{
    padding-bottom: 96rem;
}
.help-wrapper{
    width: 982rem;
    margin: 0 auto;
    margin-top: 96rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.help-item{
    padding: 51rem 33rem;
    background: #FFFFFF;
    border: 1px solid #D7E4F0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.help-item-subtitle{
    width: 108rem;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24rem;
    line-height: 36rem;
    text-align: center;
    color: #144C7F;
}
.help-item-subtitle-span{
    color: black;
}
.help-item-wrap{
    margin: 0 auto;
    margin-top: 29rem;
    width: 108rem;
}
.help-item-time{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 28rem;
    text-align: center;
    color: #4F4F4F;
}
.help-item-time-span{
    font-size: 20rem;
    line-height: 28rem;
    color: #ED5656;
}
.help-item-btn{
    margin-top: 29rem;
}
.cheaper{
    background: #D7E4F0;
    padding-top: 96rem;
    padding-bottom: 86rem;
}
.cheaper-title{
    margin-top: 0;
}
.cheaper-subtitle{
    width: 369rem;
    margin: 0 auto;
    margin-top: 26rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24rem;
    line-height: 36rem;
    color: #144C7F;
}
.cheaper-wrapper-form{
    margin: 0 auto;
    margin-top: 55rem;
    width: 883rem;
    display: flex;
    justify-content: space-between;
}
.cheaper-form-input{
    width: 274rem;
}
.cheaper-form-btn{
    width: 295rem;
    padding-left: 0;
    padding-right: 0;
}
.cheaper-confid{
    width: 883rem;
    margin: 0 auto;
    margin-top: 37rem;
    display: flex;
    align-items:center;
}
.confid-descr-cheaper{
    margin-left: 14rem;
    color: black;
}
.confid-descr-link-cheaper{
    color:#ED5656;
}
.document-container{
    padding-bottom: 96rem;
}
.document-wrapper{
    width: 800rem;
    margin: 0 auto;
    margin-top: 96rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.document-item{
    width: 322rem;
}
.document-item-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24rem;
    line-height: 24rem;
    color: #144C7F;
}
.document-item-list{
    margin-top: 24rem;
    margin-left: 30rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    list-style-type: none;
    position: relative;
}
.document-item-list::before{
    content: "";
    display: block;
    position: absolute;
    left: -30rem;
    top: 6rem;
    width: 7rem;
    height: 7rem;
    border-right: 3rem solid #ED5656;
    border-top: 3rem solid #ED5656;
    transform: rotate(45deg);
}
.document-item-list::after{
    content: "";
    display: block;
    position: absolute;
    left: -22rem;
    top: 6rem;
    width: 7rem;
    height: 7rem;
    border-right: 3rem solid #ED5656;
    border-top: 3rem solid #ED5656;
    transform: rotate(45deg);
}